/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/*
/public/assets/**
/public/mix-manifest.json
/public/hot
/public/build/**
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/debugbar
/storage/logs

/public/build
/public/hot


/storage/oauth-private.key
/storage/oauth-public.key

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php